/* Theme Transition Z-Index Handling */
::view-transition-group(root) {
  animation-duration: 0.5s;
}

/* 
   When going Dark -> Light (.theme-transition-back),
   we want the OLD view (Dark) to be on TOP so we can animate it shrinking 
   revealing the NEW view (Light) underneath.
*/
.theme-transition-back::view-transition-old(root) {
  z-index: 2;
}
.theme-transition-back::view-transition-new(root) {
  z-index: 1;
}
